<%- include('partials/head'); %>

  <body>
    <%- include('partials/navbar'); %>
    <div class="container">
      <div class="row">
        <% if (products.length > 0) { %>
          <% for (var i = 0; i < products.length; i++) { %>
            <% if (products[i].Categorías === 'Libro') { %>
                <div class="col-md-3">
                  <div class="thumbnail"> <img src= <%= products[i].Imagen %> alt="" class="img-thumbnail">
                    <p><b>Nombre: </b> <%= products[i].Nombre  %></p>
                    <p><b>Categorías: </b><%= products[i].Categorías  %></p>
                    <p><b>Precio: </b> <%=products[i].Precio %></p>
                    <p><b>Lugar de venta: </b> <%=products[i].LugarDeVenta %></p>
                    <a href="<%=`/detalle/${i}`%>">Ver detalle</a>
                  </div>
                </div>
              <% } %>
        <% } %>
        <% } %>
        
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
  </body>

</html>