<%- include('partials/head', {title: 'Ver Todo'}); %>

  <body>
    <%- include('partials/navbar', {isActive: 'Home'}); %>
    <div class="container">
			<div class="row" >
				<% losProductos.forEach(function (pro) { %>
				<div class="col-md-4">
					<div class="card" style="margin-top: 20px; margin-bottom: 20px; text-align: center;">
						<img class="card-img-top" src="/assets/images/productos/<%= pro.pdtoImage %>" alt="thumbnail";>
						<div class="card-body">
							<h5 class="card-title"><strong>Nombre: </strong><%= pro.nombre %></h5>
							<p class="card-text"><strong>Precio: </strong>$ <%= pro.precio %></p>
							<p class="card-text"><strong>Categoría: </strong> <%= pro.categoria %></p>
              <p class="card-text"><strong>Decripción: </strong><%= pro.desc %></p>
              <p class="card-text"><strong>Decripción larga: </strong><%= pro.longDesc %></p>
							<a href="/detalle/<%= pro.slug %>?id=<%= pro._id %>" class="btn btn-info">Detalle</a>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
  </body>

</html>